@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

.discoverContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 5rem;
  box-sizing: border-box;
}

.heroContent {
  text-align: center;
  width: 100%;
  padding: 1.5rem 1rem;
  flex-shrink: 0;
  margin-bottom: 3rem;
}

.soundSections {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  background-color: rgb(12, 12, 14);
  border-radius: 20px 20px 0 0;
  overflow-y: auto;
  flex-grow: 1;
  justify-content: flex-start;
}

.heroTitle {
  color: white;
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.searchBar {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.searchInput {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 25px;
  background-color: #050505;
  border: none;
  width: 250px;
  color: white;
}

.searchButton {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border-radius: 25px;
  background-color: #050505;
  color: white;
  border: none;
  cursor: pointer;
}

.categoryTitle {
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
}

.soundList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 1rem;
}

.soundCard {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  background-color: #2a2a31;
  padding: 0.4rem 0.9rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.soundCard:hover {
  box-shadow: 0 0 15px rgba(201, 43, 130, 0.8);
}

.playButton {
  background-color: transparent;
  border: none;
  color: #b13478;
  width: 60px;
  height: 60px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.playButton:hover {
  background-color: rgba(177, 52, 120, 0.2);
  color: #c93b88;
  transform: scale(1.1);
}

.playButton svg {
  width: 1.4rem;
  height: 1.4rem;
  color: #b13478;
}

.soundName {
  color: #ffffff;
  font-size: 0.9rem;
  flex-grow: 1;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b13478;
  color: white;
  font-size: 1.3rem;
  border: none;
  border-radius: 10%;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 0 10px rgba(177, 52, 120, 0.3);
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1;
  padding: 0;
}

.addButton:hover {
  transform: scale(1.1);
  box-shadow: 0 0 16px rgba(177, 52, 120, 0.5);
}

.messageContainer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  color: white;
  font-size: 1.3rem;
  margin: 0;
}